@if (Request.IsAuthenticated) {
    <text>
        Witaj, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a>
        }
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Rejestracja", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        @*<li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
        @*dartst - Po zalogowaniu sie od razu przechodzimy do przegladarki filmow*@
        <li>@Html.ActionLink("Logowanie", "Login", "Account", new { returnUrl =  "/Movies" }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
