@model moviedb.Models.Movie

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<p>
<h3>Are you sure you want to delete this?</h3>
</p>
<fieldset>
    <legend>Movie</legend>

@*    <div class="display-label">
         @Html.DisplayNameFor(model => model.OwnerId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OwnerId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OwnerName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OwnerName)
    </div>*@

    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.Title)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.ReleaseDate)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReleaseDate)
    </div>

    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.Genre)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Genre)
    </div>

    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.WhoBorrowed)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WhoBorrowed)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
