@model moviedb.Models.Movie

@{
    ViewBag.Title = "Edycja";
}

<h2>@ViewBag.Title danych filmu</h2>
<br />

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Movie</legend>

        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.OwnerId)
        @Html.HiddenFor(model => model.OwnerName)

        @*<div class="editor-label">
            @Html.LabelFor(model => model.OwnerId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OwnerId)
            @Html.ValidationMessageFor(model => model.OwnerId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OwnerName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OwnerName)
            @Html.ValidationMessageFor(model => model.OwnerName)
        </div>*@

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Title)*@
            <label for="Title"><font color="red">*Tytuł</font></label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.ReleaseDate)*@
            <label for="ReleaseDate"><font color="red">*Data prod. ( rrrr-mm-dd )</font></label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReleaseDate)
            @Html.ValidationMessageFor(model => model.ReleaseDate)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Genre)*@
            <label for="Genre"><font color="red">*Gatunek</font></label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Genre)
            @Html.ValidationMessageFor(model => model.Genre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WhoBorrowed)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WhoBorrowed)
            @Html.ValidationMessageFor(model => model.WhoBorrowed)
        </div>

        <p>
            <input type="submit" value="Zapisz" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Wróć do przeglądarki filmów", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
