@model IEnumerable<moviedb.Models.Movie>

@{
    ViewBag.Title = "Moje filmy";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Dodaj nowy", "Create")

    @*dartst*@
    @using (Html.BeginForm()){    
        <p> 
        Tytuł: @Html.TextBox("szukTitle")
        Gatunek: @Html.DropDownList("szukGenre", "All")
        Wypożyczył: @Html.TextBox("szukWypozycz")
        <input type="submit" value="Szukaj" />
        </p> 
    } 
</p>

@if (Model.Where(x => x.OwnerName == User.Identity.Name).Count() > 0)
{
    
<table>
    <tr>
 @*       <th>
            @Html.DisplayNameFor(model => model.OwnerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerName)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WhoBorrowed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Where(x => x.OwnerName == User.Identity.Name)) {
    <tr>
 @*       <td>
            @Html.DisplayFor(modelItem => item.OwnerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerName)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td  align="center">
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WhoBorrowed)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.ID }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.ID }) |*@
            @Html.ActionLink("Usuń", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
    
}
else
{
    <h5>Nie masz jeszcze żadnego filmu w kolekcji</h5>
}
